* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.search-bar-container {
    width: 40%;
    margin: auto;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
}

.input-wrapper {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 5px 15px;
    background-color: #efd4ac;
    box-shadow: 0px 0px 6px #62605d;
}

.input-field {
    background-color: transparent;
    border: none;
    height: 100%;
    width: 100%;
    font-size: 1.2rem;
    margin-left: 5px;
}

.input-field:focus {
    outline: none;
}

#search-icon {
    font-size: 1.5rem;
    color: #62605d;
}