* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.page[name="home"] {
    background-color: #6fcfcc;
    min-height: 100vh;
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
}

.weather-render {
    text-align: center;
    margin-top: 5vh;
    color: #8c89db;
}

.search-bar-container {
    width: 40%;
    margin: auto;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
}

.input-wrapper {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 5px 15px;
    background-color: #efd4ac;
    box-shadow: 0px 0px 6px #62605d;
}

.input-field {
    background-color: transparent;
    border: none;
    height: 100%;
    width: 100%;
    font-size: 1.2rem;
    margin-left: 5px;
}

.input-field:focus {
    outline: none;
}

#search-icon {
    font-size: 1.5rem;
    color: #62605d;
}

.forecast-button-container {
    width: 40%;
    margin: auto;
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
}

.forecast-button {
    padding: 8px 16px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #2e8ddb;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}